@model List<OldTimersSoccer.Models.Scorer>
@{
    var currentDivision = ViewBag.Division as string;
}
<table class="table border-0 fs-5">
    <thead>
        <tr style="border-bottom: 2px solid #000;">
            <th>Player</th>
            <th class="d-none d-md-table-cell">Team</th>
            <th>Goals</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var scorer in Model.Where(s => s.DivisionId == currentDivision).OrderByDescending(s => int.Parse(s.TotalGoals)))
        {
            <tr>
                <td>@scorer.PlayerFirstName @scorer.PlayerLastName</td>
                <td class="d-none d-md-table-cell">@scorer.TeamName</td>
                <td class="text-center">@scorer.TotalGoals</td>
            </tr>
        }
    </tbody>
</table>